<h1>Welcome buddy</h1>

<p><%= "Hi " +  @user.name %></p>
<p>
  Welcome to Ruban's estore, please use the below code to avail 50% offer in your first purchase
</p>
<p>
  <b style="color:red"> RUBFlat50 </b>
</p>
<p>
  ThAnKs,
</p>
<p>
  Manager
</p>
